<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inspections.Ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Inspections.lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0026EE721E50D2D700E32334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00669EE01E4D7C5500DF8BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00669EF61E4D7C5600DF8BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00669F011E4D7C5600DF8BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
